<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/css/style.css' />
		<title>
			Orlando Golang
		</title>
	</head>
	<body>
		<div>
		<img src='/images/banners/night-banner-8-4-2017.jpeg' style='width: 100%;' />
		<img	src='/images/gopher.svg'
					style='
							width: 13vw;
							display: inline-block;
							position: absolute;
							top: 0;
							transform: rotate(14deg);
							opacity: .95;'/>
		</div>

		{{ template "menu.html" }}

		<h1>Orlando Golang</h1>
		<p>
			We're a group of Go enthusiasts who meet at least monthly and discuss all
			things Go.
		</p>
		<p>
			Our in-person meetings are held on the <b>third Monday</b> of every
			month.  Our next meeting will be <b>{{.NextMeetingDate}}</b> and
			{{.NextMeetingRSVP}} gophers have already RSVPed! They are usually held
			at Familab in Longwood but we're looking for a more
			permanent home nearer to down town.
		</p>

		<h1>Upcoming Meetups</h1>

	
		<style>
			ul.altlist li:nth-child(even) {background: lightgrey;}
		</style>
		<ul class='altlist'>
		{{range .Meetings}}	<li>{{.Time}} - <a href='{{.URL}}'>{{.Name}}</a></li>
		{{end}}
		</ul>

		<p>
			Join the <a href='https://www.meetup.com/OrlandoGolang/'>Orlando
			Golang</a> meetup to keep in touch!  </p>
	</body>
</html>
